@import url("./buttons.css");

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1.65625rem;

    color: var(--text-color);
    font-weight: 500;    
    line-height: 1.5rem;
}

.nav__wrapper {
    display: flex;
    gap: 2rem;
    flex-basis: 38.9375rem;
}

.nav__buttons {
    display: flex;
    gap: .75rem;
}