.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1.65625rem;

    color: var(--text-color);
    font-weight: 500;    
    line-height: 1.5rem;
}

.nav__wrapper {
    display: flex;
    gap: 2rem;
    flex-basis: 38.9375rem;
}

.nav__buttons {
    display: flex;
    gap: .75rem;
}

.nav__buttons__item {
    padding: .625rem 1.125rem;
}

.nav__buttons__item:last-child {
    background-color: var(--highlights-color);
    color: var(--white);
    border-radius: .5rem;
}