.metrics {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-inline: auto;
    padding-bottom: 6rem;
    max-width: 83%;
}

.metrics__title {
    color: var(--highlights-color);
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.5rem;
}

.metrics__subtitle {
    color: var(--title-color);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.metrics__text {
    color: var(--text-color);
    max-width: 17.5rem;
}

@media screen and (max-width: 765px) {
    .metrics__title {
        font-size: 3.25rem;
    }
}

@media screen and (max-width: 1024px) {
    .metrics {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 93%;
        padding-bottom: 3rem;
        text-align: center;
    }
}