.metrics {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-inline: auto;
    padding-bottom: 6rem;
    max-width: 83%;
}

.metrics__title {
    color: var(--highlights-color);
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.5rem;
}

.metrics__subtitle {
    color: var(--title-color);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.metrics__copy {
    color: var(--text-color);
    max-width: 280px;
}