@import url("./typography.css");

.vacancies__image {
    padding-block: 4rem;
    width: 85%;
}

.vacancies__category {
    text-align: left;
    margin-inline: auto;
    max-width: 54%;
}

.category__title {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.category__title:not(:first-child) {
    margin-top: 4rem;
}

.category__content {
    margin-top: 2rem;
}

.category__card {
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1.5rem;

    font-weight: 500;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.category__card:not(:first-child) {
    margin-top: 1.5rem;
}

.card__title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    width: 100%;
}

.card__info {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5rem;
}

@media screen and (max-width: 765px) {
    .vacancies__image {
        padding-block: 2rem;
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: 35% 0;
    }

    .vacancies__category {
        max-width: 100%;
    }
}