@import url("./typography.css");

.vacancy__image {
    padding-block: 4rem;
    width: 85%;
}

.vacancy__category {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    text-align: left;

    margin-inline: auto;
    max-width: 54%;
}

.category__title {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.category__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.category__card {
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: 1.5rem;

    font-weight: 500;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1.5rem;
    row-gap: 2rem;
}

.card__title {
    grid-column: 1/3;

    font-size: 1.125rem;
    line-height: 1.75rem;
}

.card__info {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5rem;
}